BODY {
	TEXT-ALIGN: center; MARGIN: 0px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; FONT-SIZE: 12px
}
BODY {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
TH {
	FONT-SIZE: 12px
}
INPUT {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BACKGROUND-COLOR: #ffffff; HEIGHT: 18px; COLOR: #082d71; FONT-SIZE: 9pt; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
A.indexmenu:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.indexmenu:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.indexmenu:hover {
	COLOR: #efefef; TEXT-DECORATION: none
}
A.map:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.map:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.map:hover {
	COLOR: red; TEXT-DECORATION: none
}
A.index:link {
	COLOR: #770000; TEXT-DECORATION: none
}
A.index:visited {
	COLOR: #770000; TEXT-DECORATION: none
}
A.index:hover {
	COLOR: red; TEXT-DECORATION: none
}
A.zongdui:link {
	COLOR: #154100; TEXT-DECORATION: none
}
A.zongdui:visited {
	COLOR: #154100; TEXT-DECORATION: none
}
A.zongdui:hover {
	COLOR: red; TEXT-DECORATION: none
}
A.dangxiao:link {
	COLOR: #004490; TEXT-DECORATION: none
}
A.dangxiao:visited {
	COLOR: #004490; TEXT-DECORATION: none
}
A.dangxiao:hover {
	COLOR: red; TEXT-DECORATION: none
}
.ggs {
	COLOR: #6f6f6f; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.ggs:link {
	COLOR: #000000; FONT-SIZE: 10px; TEXT-DECORATION: underline
}
A.ggs:visited {
	COLOR: #000000; FONT-SIZE: 10px; TEXT-DECORATION: underline
}
A.ggs:hover {
	COLOR: #000000; FONT-SIZE: 10px; TEXT-DECORATION: underline
}
.ggs1 {
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: green; FONT-SIZE: 10px; TEXT-DECORATION: none
}
A.ggs1:link {
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: green; FONT-SIZE: 10px; TEXT-DECORATION: underline
}
A.ggs1:visited {
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: green; FONT-SIZE: 10px; TEXT-DECORATION: underline
}
A.ggs1:hover {
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #000000; FONT-SIZE: 10px; TEXT-DECORATION: underline
}
.gg {
	LINE-HEIGHT: 150%; FONT-SIZE: 13px
}
A.gg:link {
	LINE-HEIGHT: 150%; COLOR: #0000cc; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
A.gg:visited {
	LINE-HEIGHT: 150%; COLOR: #0000cc; FONT-SIZE: 13px; TEXT-DECORATION: underline
}
A.gg:hover {
	LINE-HEIGHT: 150%; COLOR: #ff0000; FONT-SIZE: 13px; TEXT-DECORATION: none
}
A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #e38000; TEXT-DECORATION: none
}
A:active {
	COLOR: #333333
}
.black12 {
	FONT-WEIGHT: bold
}
A.black12:link {
	COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.black12:visited {
	COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.black12:hover {
	COLOR: #ff0000; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:active:unknown {
	COLOR: #000000; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.adsblack12 {
	LINE-HEIGHT: 180%
}
A.adsblack12:link {
	LINE-HEIGHT: 180%; COLOR: #000000; TEXT-DECORATION: none
}
A.adsblack12:visited {
	LINE-HEIGHT: 180%; COLOR: #000000; TEXT-DECORATION: none
}
A.adsblack12:hover {
	LINE-HEIGHT: 180%; COLOR: #ff0000; TEXT-DECORATION: none
}
A:active:unknown {
	LINE-HEIGHT: 180%; COLOR: #000000; TEXT-DECORATION: none
}
.blue128 {
	LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #d0e4f7; FONT-SIZE: 12px
}
A.blue128:link {
	LINE-HEIGHT: 180%; COLOR: #d0e4f7; TEXT-DECORATION: none
}
A.blue128:visited {
	LINE-HEIGHT: 180%; COLOR: #d0e4f7; TEXT-DECORATION: none
}
A.blue128:hover {
	LINE-HEIGHT: 180%; COLOR: #ff0000; TEXT-DECORATION: none
}
A:active:unknown {
	LINE-HEIGHT: 180%; COLOR: #d0e4f7; TEXT-DECORATION: none
}
.a1:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.a1:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.a1:hover {
	COLOR: #ffffff
}
.a1:active {
	COLOR: #ffffff
}
.a2:link {
	COLOR: #ffff00; TEXT-DECORATION: none
}
.a2:visited {
	COLOR: #ffff00; TEXT-DECORATION: none
}
.a2:hover {
	COLOR: #ffff00
}
.a2:active {
	COLOR: #ffff00
}
.a3:link {
	LINE-HEIGHT: 130%; COLOR: #0000ff; TEXT-DECORATION: underline
}
.a3:visited {
	LINE-HEIGHT: 130%; COLOR: #333366; TEXT-DECORATION: none
}
.a3:hover {
	LINE-HEIGHT: 130%; COLOR: #ff0000
}
.a3:active {
	LINE-HEIGHT: 130%; COLOR: #ff0000
}
A.red:link {
	COLOR: red; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.red:visited {
	COLOR: green; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.red:hover {
	COLOR: gray; FONT-WEIGHT: bold
}
A.red:active {
	COLOR: blue; FONT-WEIGHT: bold
}
.a4:link {
	COLOR: #999999; TEXT-DECORATION: none
}
.a4:visited {
	COLOR: #999999; TEXT-DECORATION: none
}
.a4:hover {
	COLOR: #ff9900; TEXT-DECORATION: none
}
.a4:active {
	COLOR: #999999; TEXT-DECORATION: none
}
.a5:link {
	COLOR: blue; TEXT-DECORATION: none
}
.a5:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
.a5:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.a5:active {
	COLOR: green; TEXT-DECORATION: none
}
.a6:link {
	COLOR: brown; TEXT-DECORATION: none
}
.a6:visited {
	COLOR: #ffa2a2; TEXT-DECORATION: none
}
.a6:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.a6:active {
	COLOR: blue; TEXT-DECORATION: none
}
.a7:link {
	COLOR: green; TEXT-DECORATION: none
}
.a7:visited {
	COLOR: #ffa2a2; TEXT-DECORATION: none
}
.a7:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.a7:active {
	COLOR: #acffac; TEXT-DECORATION: none
}
.map {
	COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.index {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.indexboldtitle168 {
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #387200; FONT-SIZE: 16px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zongdui {
	COLOR: #566800; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.dangxiao {
	COLOR: #004490; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.navigator {
	COLOR: #216003; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.backcolor1 {
	BACKGROUND-COLOR: #55786d
}
.redtitle128 {
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #922704; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.blodtitle128 {
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #31774f; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.greentitle128 {
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #387200; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.bluetitle128 {
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #737830; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.whitetitle128 {
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.yellowtitle128 {
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #e1e2a9; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.middletitle128 {
	LINE-HEIGHT: 16px; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #946d34; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.righttitle128 {
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #848406; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.boldbluetitle148 {
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #a70101; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.boldgreentitle148 {
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #05845f; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.whitetitle148 {
	FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.boldbluetitle128 {
	FONT-FAMILY: "Arial", "Hfont-family: "Arial", "Helvetica", "sans-serif";elvetica", "sans-serif"; COLOR: #cc6600; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.wzbt14 {
	FONT-FAMILY: "Arial", "Hfont-family: "Arial", "Helvetica", "sans-serif";elvetica", "sans-serif"; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.newfont21 {
	FONT-FAMILY: "Arial", "Hfont-family: "Arial", "Helvetica", "sans-serif";elvetica", "sans-serif"; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.blue14 {
	FONT-FAMILY: "Arial", "Hfont-family: "Arial", "Helvetica", "sans-serif";elvetica", "sans-serif"; COLOR: #4169e1; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.boldtitle138 {
	FONT-FAMILY: "Arial", "Hfont-family: "Arial", "Helvetica", "sans-serif";elvetica", "sans-serif"; COLOR: #000000; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.boldtitle148 {
	FONT-FAMILY: "Arial", "Hfont-family: "Arial", "Helvetica", "sans-serif";elvetica", "sans-serif"; COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.ybiaoti {
	FONT-FAMILY: "Arial", "Hfont-family: "Arial", "Helvetica", "sans-serif";elvetica", "sans-serif"; COLOR: #024646; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.yellow {
	FONT-FAMILY: "Arial", "Hfont-family: "Arial", "Helvetica", "sans-serif";elvetica", "sans-serif"; COLOR: #666666; FONT-SIZE: 13px; FONT-WEIGHT: bold
}
.lan {
	FONT-FAMILY: "Arial", "Hfont-family: "Arial", "Helvetica", "sans-serif";elvetica", "sans-serif"; COLOR: #0099ff; FONT-SIZE: 15px; FONT-WEIGHT: bold
}
.baise {
	COLOR: #ffffff
}
.filter128a {
	FILTER: dropshadow(color=#977307,offx=1,offy=1,positive=1); LETTER-SPACING: 4px; COLOR: #fdf3c9; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.filter128b {
	FILTER: glow(color=#977307,strength=1); LETTER-SPACING: 3px; COLOR: #fdf3c9; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.newfont2 {
	FILTER: dropshadow(color=#000000,offx=1,offy=1); FONT-FAMILY: "Arial", "Hfont-family: "Arial", "Helvetica", "sans-serif";elvetica", "sans-serif"; COLOR: #ffffff; FONT-SIZE: 9pt
}
.newfont3 {
	FILTER: dropshadow(color=#ffffff,offx=1,offy=1); FONT-FAMILY: "Arial", "Hfont-family: "Arial", "Helvetica", "sans-serif";elvetica", "sans-serif"; COLOR: #000000; FONT-SIZE: 9pt
}
.14hb {
	FILTER: DropShadow(Color=#ffff00, OffX=1, OffY=1, Positive=5); FONT-FAMILY: "Arial", "Hfont-family: "Arial", "Helvetica", "sans-serif";elvetica", "sans-serif"; COLOR: #000000; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
.12hb {
	FILTER: DropShadow(Color=#ffffff, OffX=1, OffY=1, Positive=5); FONT-FAMILY: "Arial", "Hfont-family: "Arial", "Helvetica", "sans-serif";elvetica", "sans-serif"; LETTER-SPACING: 0.1em; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.form {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; FONT-SIZE: 12px; BORDER-TOP: #000000 1px solid; BORDER-RIGHT: #000000 1px solid
}
.line {
	FONT-SIZE: 1pt
}
.font128 {
	LINE-HEIGHT: 20px; FONT-FAMILY: "Arial", "Hfont-family: "Arial", "Helvetica", "sans-serif";elvetica", "sans-serif"; FONT-SIZE: 12px
}
.font148 {
	LINE-HEIGHT: 25px; FONT-FAMILY: "Arial", "Hfont-family: "Arial", "Helvetica", "sans-serif";elvetica", "sans-serif"; FONT-SIZE: 14px
}
.font16 {
	LINE-HEIGHT: 25px; FONT-SIZE: 14px
}
.boldtitle128 {
	FONT-SIZE: 12px; FONT-WEIGHT: bold
}
.boldtitle148 {
	LINE-HEIGHT: 18px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.boldtitle168 {
	LINE-HEIGHT: 18px; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.boldtitle24 {
	LINE-HEIGHT: 26px; FONT-SIZE: 24px; FONT-WEIGHT: bold
}
.hotnews {
	LINE-HEIGHT: 160%; FONT-SIZE: 12px
}
.news {
	LINE-HEIGHT: 20px; FONT-SIZE: 14px
}
.p120 {
	FONT-FAMILY: "Arial", "Hfont-family: "Arial", "Helvetica", "sans-serif";elvetica", "sans-serif"; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.p1201 {
	LINE-HEIGHT: 180%; FONT-FAMILY: "Arial", "Hfont-family: "Arial", "Helvetica", "sans-serif";elvetica", "sans-serif"; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.a120 {
	FONT-FAMILY: "Arial", "Hfont-family: "Arial", "Helvetica", "sans-serif";elvetica", "sans-serif"; COLOR: #ffffff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.font222 {
	COLOR: #ffffff; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zzjz14 {
	LINE-HEIGHT: 130%; COLOR: #628296; FONT-SIZE: 14px
}
.zzjz14:link {
	COLOR: #628296; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.zzjz14:visited {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.zzjz14:hover {
	COLOR: #e38000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.zzjz14:active {
	COLOR: #628296; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.rczp13 {
	LINE-HEIGHT: 130%; COLOR: #0a4665; FONT-SIZE: 13px
}
.rczp13:link {
	COLOR: #0a4665; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.rczp13:visited {
	FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.rczp13:hover {
	COLOR: #e38000; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.rczp13:active {
	COLOR: #0a4665; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.zzjz {
	LINE-HEIGHT: 130%; COLOR: #628296; FONT-SIZE: 12px
}
.paddzzjz {
	PADDING-LEFT: 25px
}
.prmbg {
	BACKGROUND: #f1f1f1
}
.leimubar {
	BORDER-BOTTOM: #cccccc 4px solid; PADDING-LEFT: 15px; FONT: 14px bold; BACKGROUND: #0d4d7e; HEIGHT: 28px
}
.leimubar1 {
	BORDER-BOTTOM: #6688aa 4px solid; PADDING-LEFT: 10px; FONT: 14px bold; BACKGROUND: #efefef; PADDING-TOP: 3px
}
.border {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid
}
